# Crash logs
crash.*.log
crash.log

# MacOS files
.DS_Store

# Override files
*_override.tf
*_override.tf.json
override.tf
override.tf.json

# Secrets - unencrypted files should never be committed
# Encrypted *.sops.json files ARE safe to commit
secrets/*
!secrets/*.sops.json

# OpenTofu/Terraform files
*.tfplan
*.tfstate
*.tfstate.*
.terraform/
.opentofu/

# Terragrunt files
.terragrunt-cache
node_modules
.DS_Store
