name: CI/CD

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * 1" # Monday midnight UTC
  workflow_dispatch:

jobs:
  apply:
    uses: dmikalova/github-meta/.github/workflows/terramate-apply-all.yaml@main
    secrets: inherit
