name: CI/CD

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  cicd:
    name: CI/CD
    uses: dmikalova/github-meta/.github/workflows/terramate-apply-all.yaml@main
    secrets: inherit
